.carousel {
 &-container {

  &.p-0 {
   .container {
    padding: 0;
   }
  }

  &.ps-0,
  &.pe-0 {
   .container {
    padding: {
     left: 0;
     right: 0;
    }
   }
  }

 }

 &-item {
  &__inner {
   div {
    margin: auto;
    width: 80%;
   }
  }
 }
 
}